.formcontrol-add-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.btn {
  height: 1.7rem;
  margin: 0 0.2rem 0 0.2rem;
  background-color: #185adb;
  border: 1px solid #185adb;
  border-radius: 0.5rem;
  color: white;
}
