.itemdetail {
  display: flex;
  flex-direction: row;
}

.itemdetail-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 1vw;
}

.itemdetail-text {
  font-size: 1.2rem;
  color: rgb(33, 33, 34);
}

.itemdetail-date {
  font-size: 0.8rem;
  color: rgb(119, 118, 123);
}
