.modal_dark_background {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100%;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.modal_centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  background: white;
  width: 400px;
  height: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal_header {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal_heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}
.modal_content {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: left;
  width: 100%;
}
.modal_content_item {
  width: 100%;
  margin-top: 10px;
}

/* .modal_content > * {
  width: 100%;
  height: 2rem;
} */

.modal_content input,
.modal_content select {
  border-radius: 5px;
  border: 1px solid #b8b9c9;
  width: 100%;
  height: 2rem;
}
.modal_actions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.modal_actions_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal_close_btn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.modal_add_btn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #185adb;
  transition: all 0.25s ease;
}

.modal_cancel_btn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #b8b9c9;
  transition: all 0.25s ease;
}
